@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
}
.MuiCardMedia-img{
  width: 250px !important;
  margin: 0 auto;
}
.MuiCardHeader-title{
  font-size: 16px !important;
  font-weight: 600 !important;
}
.MuiCardHeader-subheader{
  font-size: 15px !important;
  margin-top: 10px !important;
}

